@use "../abstract/variables";
@use "../abstract/mixins";

.login-section {
  background-color: variables.$gray-background;
  height: 100vh;

  &__logo {

    @include mixins.responsive(variables.$medium) {
      transform: translateY(120%);
      width: 280px;
      height: 75px;
    }
    @include mixins.responsive(variables.$large) {
      transform: translateY(-135%);
      width: 160px;
      height: 45px;
    }
  }
  &__card-bg {
    background-image:
      url("../../public/assets/images/login-admin-bg.webp");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    @include mixins.responsive(variables.$large) {
      background-image: none;
    }
  }

  &__bg {
    background-image:
      url("../../public/assets/images/login-admin-bg.webp");
    background-repeat: no-repeat;
    height: 100vh;
    margin-right: 0px;    
    background-size: cover;
    box-shadow: 0 0 4px 4px variables.$gray-background inset;
    filter: saturate(120%);
      transition: all 1s ease;
    &:hover{
      filter: saturate(170%);
      transition: all 1s ease;
      cursor: pointer;
    }
  }
}

.login-card {
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  background-color: variables.$white-background;
  transform: translateY(10%);
  opacity: 0.93;

  @include mixins.responsive(variables.$medium) {
    transform: translateY(50%);
  }

  @include mixins.responsive(variables.$large) {
    transform: translateY(-15%);
    opacity: none;
  }

  &__checkbox {
    font-weight: 100;
    font-size: 12px;
  }

  &__box {
    &:focus {
      border-color: variables.$orange-900;
      box-shadow: 0 0 0 0.25rem rgba(254, 95, 59, 0.25);
      border-radius: 8px;
    }
    &:checked {
      background-color: variables.$orange-900;
      border-color: variables.$orange-600
    }
  }
}
