@use "../abstract/variables";
@use "../abstract/mixins";

.bookings {
  &__titles {
    text-align: center !important;
  }
  .gridjs-container {
    @include mixins.responsive(variables.$large) {
      width: auto !important;
    }
  }

  .gridjs-table {
    @include mixins.responsive(variables.$large) {
      width: 100%;
    }
  }
  .gridjs-tr {
    text-align: center;
    color: variables.$gray-600;
  }
}

.reserve {
  &__number {
    margin: auto !important;
    padding: 5px 25px 5px 25px;
    background: variables.$gray-background;
    max-width: fit-content;
    border-radius: 1000px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
  }
}

.dropdown-item{
  &:hover{
    background-color: variables.$orange-900;
    opacity: .8;
    color:white;
  }
}

.status-dropdown{
  min-width: 150px;
}