@use "../abstract/variables";
@use "../abstract/mixins";

.bookings {
  &__titles {
    text-align: center !important;
  }
  .gridjs-container {
    @include mixins.responsive(variables.$large) {
      width: auto !important;
    }
  }

  .gridjs-table {
    @include mixins.responsive(variables.$large) {
      width: 100%;
    }
  }
  .gridjs-tr {
    text-align: center;
    color: variables.$gray-600;
  }
}

.reserve {
  &__number {
    margin: auto !important;
    padding: 5px 25px 5px 25px;
    background: variables.$gray-background;
    max-width: fit-content;
    border-radius: 1000px;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.08));
  }
}

.dropdown-item{
  &:hover{
    background-color: variables.$orange-900;
    opacity: .8;
    color:white;
  }
}

.status-dropdown{
  min-width: 150px;
}

.book-status-change{
  width: 100%;
  min-width:fit-content;
}

.BookDetail .modal-dialog {
    max-width: 60% !important ;
}

.status-pill{
  background-color: variables.$orange-600 !important ;
  color: white !important;
  font-size: 14px;
  min-width:90px;
  max-width:100px;
  font-weight: 500;
  letter-spacing: .2px;
  width: 100%;
}

.number-pill{
  font-size: 14px;
  font-weight: 600;
  min-width:90px;
  max-width:100px;
  width: 100%;
}

.edit-icon{
  color: variables.$orange-600;
  width: 20px !important;
  height: 20px !important;
}

.crud-icons{
  :hover{
    color: #212529;
  }
}