@use '../abstract/variables';
@use '../abstract/mixins';
.offcanvas-start {
    width: 180px;
    background: variables.$orange-900;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.32);

    .offcanvas-body {
        p {
            margin: 0;
        }
        .menu-left-mobile {
            &__option {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                border-radius: 8px;
                width: 150px;
                height: 32px;
                transition: width 0.8s ease;
                padding: 8px;

                // &:hover {
                //     cursor: pointer;
                //     background: #001a9c;
                // }
                p {
                    opacity: 1;
                    color: variables.$white;
                    transition: opacity 0.8s ease;
                    margin: 0 0 0 8px;
                }
              
                &.active {
                    background: #C43F35;
                }
            }
        }
    }
}