@use './mixins';
@use './variables';

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: variables.$font-quicksand;
    background-color: variables.$white-background;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: variables.$font-lato;
    font-style: normal;
 }

 p, a {
    font-family: variables.$font-quicksand;
    font-style: normal;
 }

 h1{
   font-size: 36px;
 }
 p {
   font-size: 12px;
 }
 label{
   font-size: 18px;
   font-weight: 400;
 }


