@use '../abstract/variables';
@use '../abstract/mixins';
.hidden {
    display: none;
}
.separator {
    height: 1px;
    background-color: #F5F5F5;
    margin: 0 0 24px 0;
}

.text-orange-900 {
    color: variables.$orange-900;
}

.text-orange-600 {
    color: variables.$orange-600;
}

.text-black-800 {
    color: variables.$black-800;
}

.text-black-700 {
    color: variables.$black-700;
}

.text-black-600 {
    color: variables.$black-600;
}

.text-gray-600 {
    color: variables.$gray-600;
}

.text-gray-400 {
    color: variables.$gray-400;
}

.btn-ok {
    min-width: 250px;
    height: 38px;
    background-color: variables.$orange-900;
    border: 1px solid #FE5F3B;
    border-radius: 3px!important;
}
.Mui-selected{
    background-color: variables.$orange-900!important;
}
