// colors
$orange-900: #FE5F3B;
$orange-600: #FC705F;

$white: #FFFFFF;
$white-background: #FAFAFA;

$black-800: #424242;
$black-700: #616161;
$black-600: #757575;
$gray-600: #9E9E9E;
$gray-500: #90A4AE;
$gray-background: #F5F5F5;

// fonts
$font-lato: 'Lato', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;;

